{% extends 'base.html' %}

{% block content %}
<style>
    #about_text {
        padding: 20px;
        border-radius: 5px;
    }

    #about_text p {
        font-size: 18px;
        line-height: 1.5;
        color: #333;
        text-align: left;
    }

    .title {
        font-family: monospace;
        text-align: center;
        font-size:xx-large
    }
</style>

<div class="mx-4 p-2 border-double border-4 border-stone-700" id="border">
    <div class="p-4 relative grid gap-0 grid-rows-7 bg-slate-500 bg-opacity-50">
        <div class="mx-auto max-w-7xl px-6 lg:px-8" id="welcome_tag">
            <!-- <div class="p-4 mx-auto max-w-2xl lg:mx-0">
                <h2 class="title tracking-tight text-black sm:text-6xl text-center">About The Wonderful Home</h2>
            </div> -->
        </div>
        <div class="p-2 grid grid-cols-3 text-center">
            <div class="col-span-2 flex items-center rounded-xl border border-black rounded-xl border border-black 
            inset-0 hover:shadow-lg hover:bg-black hover:bg-opacity-10" id="about_text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend sagittis massa,
                    non egestas quam eleifend vel. Proin nec varius justo. Sed rhoncus venenatis leo a congue.
                    Morbi id scelerisque sapien. Nullam feugiat aliquet sapien, nec tristique ipsum vestibulum non.
                    Fusce non feugiat tortor. Sed ut eros sagittis, tristique ipsum at, viverra urna. Phasellus id justo
                    eros.
                    Aliquam erat volutpat. Sed vel ipsum vel ipsum dapibus lacinia. Sed ac dolor velit. Integer non
                    libero a
                    risus cursus efficitur. Sed pharetra tortor in sapien lacinia, at semper erat rhoncus. Curabitur sit
                    amet
                    bibendum ante. Nullam nec hendrerit urna.
                    Sed id erat sit amet odio consequat bibendum id at libero. Sed sit amet orci sed urna congue
                    bibendum.
                </p>
            </div>
            <div class="flex p-4 justify-end">
                <img src="https://images.unsplash.com/photo-1596492784531-6e6eb5ea9993?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="rounded-xl border border-black rounded-xl border border-black inset-0 h-full w-full"
                    style="max-width: 75%" alt="" id="about_photo_container">
            </div>
        </div>
        <div class="p-2 grid grid-cols-3 text-center">
            <div class="p-4">
                <img src="https://images.unsplash.com/photo-1615751072497-5f5169febe17?auto=format&fit=crop&q=80&w=1935&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class=" rounded-xl border border-black rounded-xl border border-black inset-0 h-full w-full"
                    style="max-width: 75%" alt="" id="about_photo_container">
            </div>
            <div class="col-span-2 p-2 flex items-center rounded-xl border border-black rounded-xl border border-black 
            inset-0 hover:shadow-lg hover:bg-black hover:bg-opacity-10" id="about_text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend sagittis massa,
                    non egestas quam eleifend vel. Proin nec varius justo. Sed rhoncus venenatis leo a congue.
                    Morbi id scelerisque sapien. Nullam feugiat aliquet sapien, nec tristique ipsum vestibulum non.
                    Fusce non feugiat tortor. Sed ut eros sagittis, tristique ipsum at, viverra urna. Phasellus id justo
                    eros.
                    Aliquam erat volutpat. Sed vel ipsum vel ipsum dapibus lacinia. Sed ac dolor velit. Integer non
                    libero a
                    risus cursus efficitur. Sed pharetra tortor in sapien lacinia, at semper erat rhoncus. Curabitur sit
                    amet
                    bibendum ante. Nullam nec hendrerit urna.
                    Sed id erat sit amet odio consequat bibendum id at libero. Sed sit amet orci sed urna congue
                    bibendum.
                </p>
            </div>
        </div>
        <div class="p-2 grid grid-cols-3 text-center">
            <div class="col-span-2 p-2 flex items-center rounded-xl border border-black rounded-xl border border-black 
            inset-0 hover:shadow-lg hover:bg-black hover:bg-opacity-10" id="about_text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend sagittis massa,
                    non egestas quam eleifend vel. Proin nec varius justo. Sed rhoncus venenatis leo a congue.
                    Morbi id scelerisque sapien. Nullam feugiat aliquet sapien, nec tristique ipsum vestibulum non.
                    Fusce non feugiat tortor. Sed ut eros sagittis, tristique ipsum at, viverra urna. Phasellus id justo
                    eros.
                    Aliquam erat volutpat. Sed vel ipsum vel ipsum dapibus lacinia. Sed ac dolor velit. Integer non
                    libero a
                    risus cursus efficitur. Sed pharetra tortor in sapien lacinia, at semper erat rhoncus. Curabitur sit
                    amet
                    bibendum ante. Nullam nec hendrerit urna.
                    Sed id erat sit amet odio consequat bibendum id at libero. Sed sit amet orci sed urna congue
                    bibendum.
                </p>
            </div>
            <div class="flex p-4 justify-end">
                <img src="https://images.unsplash.com/photo-1604165094771-7af34f7fd4cd?auto=format&fit=crop&q=80&w=1935&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class=" rounded-xl border border-black rounded-xl border border-black inset-0 h-full w-full"
                    style="max-width: 75%" alt="" id="about_photo_container">
            </div>
        </div>
    </div>
</div>
{% endblock %}