{% extends 'base.html' %}

{% block content %}
<div class="mx-2 p-2 border-double border-4 border-stone-700" id="border">
    <div class="relative grid gap-0 grid-rows-7">
        <div class="mx-auto max-w-7xl px-6 lg:px-8" id="welcome_tag">
            <div class="p-4 mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-4xl font-cursive tracking-tight text-black sm:text-6xl text-center">About Us</h2>
            </div>
        </div>
        <div class="p-2 grid grid-cols-2 text-center"> 
            <div>
                2 - 1 TEXT
            </div>
            <div class="p-4">
                <img src="https://images.unsplash.com/photo-1596492784531-6e6eb5ea9993?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                class=" rounded-xl border border-black rounded-xl border border-black inset-0 h-full w-full"
                alt="" id="about_photo_container">
            </div>
        </div>
        <div class="p-2 grid grid-cols-2 text-center">
            <div class="p-4">
                <img src="https://images.unsplash.com/photo-1615751072497-5f5169febe17?auto=format&fit=crop&q=80&w=1935&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                class=" rounded-xl border border-black rounded-xl border border-black inset-0 h-full w-full"
                alt="" id="about_photo_container">
            </div>
            <div>
                3 - 2 TEXT
            </div>
        </div>
        <div class="p-2 grid grid-cols-2 text-center">
            <div>
                4 - 1 TEXT
            </div>
            <div class="p-4">
                <img src="https://images.unsplash.com/photo-1604165094771-7af34f7fd4cd?auto=format&fit=crop&q=80&w=1935&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                class=" rounded-xl border border-black rounded-xl border border-black inset-0 h-full w-full"
                alt="" id="about_photo_container">
            </div>
        </div>
    </div>
</div>
{% endblock %}