{% extends 'base.html' %}

{% block content %}
<style>
    #about_text {
        padding: 20px;
        border-radius: 5px;
    }

    #about_text p {
        font-size: 18px;
        line-height: 1.5;
        color: #333;
        text-align: left;
    }

    .title {
        
        text-align: center;
        font-size: xx-large;
    }
</style>
<div class="mx-auto p-4 max-w-7xl lg:px-8 text-center" id="welcome_tag">
    <!-- <div class="p-4 mx-auto max-w-2xl lg:mx-0"> -->
        <h2 class="title tracking-tight text-black sm:text-6xl text-center">
            <i>About Us & Our Wonderful Life</i>
        </h2>
    <!-- </div> -->
</div>

<div class="mx-4 p-2 border-double border-4 border-stone-700" id="border">

    <div class="p-4 relative grid grid-rows-3 bg-slate-500 bg-opacity-80">
        <div class="p-2 grid grid-cols-3 text-center">
            <div class="col-span-2 flex items-center rounded-xl border border-black rounded-xl border border-black 
            inset-0 hover:shadow-lg hover:bg-black hover:bg-opacity-10" id="about_text">
                <p>
                    At The Wonderful Home, we believe that a house becomes a home when it's infused with
                    comfort and love. Your home is a reflection of your unique personality and a sanctuary
                    where memories are made. We specialize in redesigning and remodeling spaces to transform
                    houses into the wonderful homes they deserve to be.
                    Our dedicated team is passionate about creating living spaces that resonate with warmth and joy.
                    Whether it's a cozy bedroom, a functional kitchen, or a welcoming living room, we understand the
                    importance of crafting environments that feel just right. Your comfort is our priority, and we take
                    pride in turning your vision into a haven you'll truly love.
                    Let's embark on a journey together to rediscover the joy of home. Explore our services and let
                    us help you transform your living spaces into places that not only meet your needs but also fill
                    your heart with happiness.
                    </br>

                </p>
            </div>
            <div class="flex p-4 justify-end">
                <img src="https://images.unsplash.com/photo-1558118720-fa5cdebe6b3a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHx8"
                    class="rounded-xl border border-black rounded-xl border border-black inset-0 h-full w-full"
                    style="max-width: 100%" alt="" id="about_photo_container">
            </div>
        </div>
        <div class="p-2 grid grid-cols-3 text-center">
            <div class="p-4">
                <img src="https://images.unsplash.com/photo-1502672023488-70e25813eb80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D"
                    class="rounded-xl border border-black rounded-xl border border-black inset-0 h-full w-full"
                    style="max-width: 100%; object-fit: cover;" alt="" id="about_photo_container">
            </div>
            <div class="col-span-2 p-2 flex items-center rounded-xl border border-black rounded-xl border border-black 
                inset-0 hover:shadow-lg hover:bg-black hover:bg-opacity-10" id="about_text">
                <p>
                    Founded in 2015 by the dynamic duo, Jim and Angela, The Wonderful Home is not just a
                    business—it's a labor of love that spans nearly four decades. With a shared passion for homes,
                    a commitment to helping others, and a vision to infuse love and comfort into every space, Jim and
                    Angela have become synonymous with creating living environments that truly feel like home.
                    As a team for 40 years, Jim and Angela bring a wealth of
                    experience
                    and a deep understanding
                    of the importance of family. Family is not only at the center of their inspiration but also an
                    integral
                    part of their lives. Their commitment to creating homes that inspire love and comfort is a
                    reflection of
                    their own values and the cherished moments they've shared as a family.
                </p>
            </div>
        </div>
        
        <div class="p-2 grid grid-cols-3 text-center">
            <div class="col-span-2 p-2 flex items-center rounded-xl border border-black rounded-xl border border-black 
            inset-0 hover:shadow-lg hover:bg-black hover:bg-opacity-10" id="about_text">
                <p>
                    Jim and Angela's love extends beyond their craft and spills into their home, where they share their
                    lives with their beloved little doggy, Ethel. With two daughters and a collection of past pets
                    that hold a special place in their hearts, The Wonderful Home is a testament to the warmth, joy,
                    and love that family brings.
                    At The Wonderful Home, we invite you to be a part of our journey—a journey fueled by passion,
                    inspired by family, and dedicated to making your home a place where love and comfort thrive.
                </p>
            </div>
            <div class="flex p-4 justify-end">
                <img src="https://images.unsplash.com/photo-1499916078039-922301b0eb9b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D"
                    class="rounded-xl border border-black rounded-xl border border-black inset-0 h-full w-full"
                    style="max-width: 100%; object-fit: cover;" alt="" id="about_photo_container">
            </div>
        </div>
    </div>
</div>
{% endblock %}