<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wonderful Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./tailwind.config.js"></script>
    {% block css %}{% endblock %}
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('about_page') }}">About</a></li>
            <li><a href="{{ url_for('consultation_page') }}">Consultations</a></li>
            <li><a href="{{ url_for('services_page') }}">Services</a></li>
            <li><a href="{{ url_for('reviews_page') }}">Reviews</a></li>
            <li><a href="{{ url_for('gallery_page') }}">Gallery</a></li>
            <li><a href="{{ url_for('contact_page') }}">Contact</a></li>
        </ul>
    </nav>

    <header>

    </header>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

    <footer class="bg-gray-900 text-white py-4">
        <div class="container mx-auto flex flex-col lg:flex-row justify-between items-center">
            <div class="text-center lg:text-left mb-2 lg:mb-0">
                <p class="text-sm">&copy; The Wonderful Home EST 2015</p>
            </div>
            <div class="flex space-x-4 ml-auto">
                <a href="#" class="hover:text-gray-600 transition">
                    <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook" class="w-6 h-6" />
                </a>
                <a href="#" class="hover:text-gray-600 transition">
                    <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram" class="w-6 h-6" />
                </a>
                <a href="#" class="hover:text-gray-600 transition">
                    <img src="{{ url_for('static', filename='images/youtube.png') }}" alt="YouTube" class="w-6 h-6" />
                </a>
            </div>
        </div>
    </footer>

</body>

</html>