<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bathroom Gallery</title>
</head>

<body>
    <main>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4" id="buttonContainer">
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://plus.unsplash.com/premium_photo-1676321046695-a23b1d9f576e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmF0aHJvb20lMjB0aWxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
                        alt="green shower tile">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1609280069904-ab36feb3f20c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGJhdGhyb29tJTIwdGlsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="bright bathroom">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1571781418606-70265b9cce90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fGJhdGhyb29tJTIwdGlsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="bathroom with pothos in shower">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1618236444666-105ec54b5b69?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJhdGhyb29tJTIwd2FsbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="brown and blue and white bathroom">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://plus.unsplash.com/premium_photo-1676968003237-1f10be4e1c4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGJhdGhyb29tJTIwc2lua3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="wood bahtroom countertop">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1573385044784-ba6c83bfa408?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGJhdGhyb29tJTIwc2lua3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="concrete bathroom">
                </div>

            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1615224572974-ed13e9ab0312?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmF0aHR1YnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="bathtub with candles">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1635214831754-b0e2b1292a82?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fGJhdGh0dWJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="big open bathroom with window">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1576513372690-b2fb0c3a328b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDJ8fGJhdGh0dWJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="bathtub with kitty">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1591240193130-add0e75860f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njl8fGJhdGh0dWJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="shiplap wooden plank walls">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1592240989300-8673561d04b8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODB8fGJhdGh0dWJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="light blue bathroom tile">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1630841257082-0792caf642ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8ZG9nJTIwaW4lMjBiYXRodHVifGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
                        alt="puppy in the bathtub">
                </div>
            </div>
            <a href="gallery" class="mt-4 px-4 py-2 bg-stone-500 text-white text-center rounded hover:bg-stone-600 transition duration-300 text-black">
                CLOSE
            </a>
        </div>
    </main>

</body>

</html>