<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bedroom Gallery</title>
</head>

<body>
    <main>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4" id="buttonContainer">
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmVkfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
                        alt="comfy bed and black nightstands">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1615874959474-d609969a20ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGJlZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="bed with plants and pictures">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1618221118493-9cfa1a1c00da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fGJlZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="blue bedroom">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://plus.unsplash.com/premium_photo-1684445035187-c4bc7c96bc5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTZ8fGJlZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="bright and airy bedroom">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1616486029423-aaa4789e8c9a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fGJlZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="bedroom with small gallery wall">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1548802673-380ab8ebc7b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njh8fGJlZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="cat in bed">
                </div>

            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://plus.unsplash.com/premium_photo-1675745329401-ed4b9b73be6a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODF8fGJlZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="canopy over bed">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1585620089933-768743dfc8f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTl8fGJlZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="shiplap bedroom wall">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1594296041896-bcb34adeae60?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTEyfHxiZWR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="bedroom with calathea">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1615154464469-6c2767a958fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTk0fHxiZWR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="bed with zebra frame">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1571508601891-ca5e7a713859?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGJlZHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="bedroom with pillows and trees">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1599202937077-3f7cdc53f2e1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fGJlZHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="green accent wall in bedroom">
                </div>
            </div>
            <a href="gallery" class="mt-4 px-4 py-2 bg-stone-500 text-white text-center rounded hover:bg-stone-600 transition duration-300 text-black">
                CLOSE
            </a>
        </div>
    </main>

</body>

</html>