{% extends 'base.html' %}

{% block content %}

<style>
    .carousel-open:checked+.carousel-item {
        position: static;
        opacity: 80;
    }

    #carousel-1:checked~.control-1,
    #carousel-2:checked~.control-2,
    #carousel-3:checked~.control-3 {
        display: block;
    }

    .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 20;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }

    #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
        color: #181c18;
    }

    #block {
        margin-right: 5;
        padding: 30;
    }
</style>

<main>
    <div class="container mx-auto">
        <!-- row1 -->
        <div class="row1 relative mx-10 p-2 text-center" id="get_in_touch">
            Get In Touch!
        </div>
        <!-- row2 -->
        <div class="row2 relative mx-10 p-2 flex">
            <div class="doggycouch col1 w-1/2 col-span-1 border-double border-4 border-stone-700" id="border">
                <img src="https://images.unsplash.com/photo-1637531716431-6d76ee470c9c?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDN8fGRvZyUyMG9uJTIwY291Y2h8ZW58MHx8MHx8fDA%3D"
                    class="h-full w-full object-cover object-right md:object-center" alt="dog laying on couch"
                    id="dog_couch_image">
            </div>
            <div class="col2 w-1/2">
                <div class="flex items-center justify-center p-12">
                    <div class="mx-auto w-full max-w-[550px]">
                        <form action="https://formbold.com/s/FORM_ID" method="POST">
                            <div class="mb-5">
                                <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Full Name
                                </label>
                                <input type="text" name="name" id="name" placeholder="Full Name"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div>
                            <div class="mb-5">
                                <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Email Address
                                </label>
                                <input type="email" name="email" id="email" placeholder="example@domain.com"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div>
                            <div class="mb-5">
                                <label for="phone_number" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Phone Number
                                </label>
                                <input type="text" name="phone_number" id="phone_number"
                                    placeholder="Enter your phone_number"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div>
                            <!-- <div class="mb-5">
                                <label for="city" class="mb-3 block text-base font-medium text-[#07074D]">
                                    City
                                </label>
                                <input type="text" name="city" id="city" placeholder="Enter your city"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div> -->
                            <div class="mb-5">
                                <label for="message" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Message
                                </label>
                                <textarea rows="3" name="message" id="message" placeholder="Type your message"
                                    class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"></textarea>
                            </div>
                            <div>
                                <button
                                    class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- row3 -->
        <div class="row3 relative mx-10 p-2 flex">
            <div class="carousel col1 w-1/2 border-double border-4 border-stone-700" id="border">
                <section class="relative isolate overflow-hidden px-6 lg:px-8">
                    <div class="sizes mx-auto max-w-2xl lg:max-w-2xl py-10 sm:py-20">
                        <!-- <figure class="mt-5"></figure> -->
                        <img src="https://images.unsplash.com/photo-1604762511431-6280a12cb835?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80"
                            alt="image of a couch in living room"
                            class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center opacity-50"
                            id="review_image">
                        <!-- slide 1 -->
                        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true"
                            hidden="" checked="checked">
                        <div class="carousel-item absolute opacity-0 flex justify-center items-center"
                            style="height:5vh;">
                            <div
                                class="block text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
                                <blockquote
                                    class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9"
                                    id="review_words">
                                    <p>“Review ONE”</p>
                                </blockquote>
                                <figcaption class="mt-10" id="icon_and_name">
                                    <div class="mt-4 flex items-center justify-center space-x-3 text-base"
                                        id="client_name">
                                        <div class="font-semibold text-gray-900">Bee Bear</div>
                                    </div>
                                </figcaption>
                            </div>
                        </div>
                        <label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl 
                          font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                          inset-y-0 left-0 my-auto">‹</label>
                        <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl 
                          font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                          inset-y-0 right-0 my-auto">›</label>
                        <!-- slide 2 -->
                        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true"
                            hidden="">
                        <div class="carousel-item absolute opacity-0 flex justify-center items-center"
                            style="height:5vh;">
                            <div
                                class="block text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
                                <blockquote
                                    class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9"
                                    id="review_words">
                                    <p>“Review TWO”</p>
                                </blockquote>
                                <figcaption class="mt-10" id="icon_and_name">
                                    <!-- svg space -->
                                    <div class="mt-4 flex items-center justify-center space-x-3 text-base"
                                        id="client_name">
                                        <div class="font-semibold text-gray-900">Bee Bear 2</div>
                                    </div>
                                </figcaption>
                            </div>
                        </div>
                        <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl 
                            font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                            inset-y-0 left-0 my-auto">‹</label>
                        <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl 
                            font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                            inset-y-0 right-0 my-auto">›</label>
                        <!-- slide 3 -->
                        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true"
                            hidden="">
                        <div class="carousel-item absolute opacity-0 flex justify-center items-center"
                            style="height:5vh;">
                            <div
                                class="block text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
                                <blockquote
                                    class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9"
                                    id="review_words">
                                    <p>“Rewiew THREE”</p>
                                </blockquote>
                                <figcaption class="mt-10" id="icon_and_name">
                                    <!-- svg space -->
                                    <div class="mt-4 flex items-center justify-center space-x-3 text-base"
                                        id="client_name">
                                        <div class="font-semibold text-gray-900">Bee Bear 3</div>
                                    </div>
                                </figcaption>
                            </div>
                        </div>
                        <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl 
                            font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                            inset-y-0 left-0 my-auto">‹</label>
                        <label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl 
                            font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                            inset-y-0 right-0 my-auto">›</label>
                        <!-- Add additional indicators for each slide-->
                        <ol class="carousel-indicators">
                            <li class="inline-block mr-3">
                                <label for="carousel-1"
                                    class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-slate-700">•</label>
                            </li>
                            <li class="inline-block mr-3">
                                <label for="carousel-2"
                                    class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-slate-700">•</label>
                            </li>
                            <li class="inline-block mr-3">
                                <label for="carousel-3"
                                    class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-slate-700">•</label>
                            </li>
                        </ol>
                    </div>
                </section>
            </div>
        </div>
    </div>

</main>
{% endblock %}

<!-- 
 -->