{% extends 'base.html' %}

{% block content %}

<style>
    .carousel-open:checked+.carousel-item {
        position: static;
        opacity: 80;
    }

    #carousel-1:checked~.control-1,
    #carousel-2:checked~.control-2,
    #carousel-3:checked~.control-3 {
        display: block;
    }

    .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 10;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }

    #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
        color: #181c18;
    }

</style>

<main>
    <div class="box flex justify-center mt-10">
        <div class="relative grid grid-rows-3 grid-cols-2 grid-flow-col gap-7">
            <div class="image mt-10 row-span-2">
                <div class="dog-image border-double border-4 border-stone-700 w-96 h-96">
                    <div class="relative isolate overflow-hidden px-6 lg:px-8 h-full w-full">
                        <div class="sizes max-w-2xl lg:max-w-2xl py-10 sm:py-20">
                            <img src="https://images.unsplash.com/photo-1561039188-63839a5bb5a6?auto=format&fit=crop&q=80&w=3072&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="dog on couch"
                                class="absolute inset-0 -z-10 w-full h-full object-cover object-center md:object-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="review col-span-1">
                <div class="carousel border-double border-4 border-stone-700">
                    <section class="relative isolate overflow-hidden px-6 lg:px-8">
                        <div class="sizes max-w-2xl lg:max-w-2xl py-4 sm:py-20">
                            <img src="https://images.unsplash.com/photo-1604762511431-6280a12cb835?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80"
                                alt="image of a monstera in pot"
                                class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center opacity-50"
                                id="review-image">
                            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true"
                                hidden="" checked="checked">
                            <div class="carousel-item absolute opacity-0 flex justify-center items-center"
                                style="height:5vh;">
                                <div
                                    class="block text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
                                    <blockquote
                                        class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9"
                                        id="review_words">
                                        <p>“Review ONE”</p>
                                    </blockquote>
                                    <figcaption class="mt-10" id="icon_and_name">
                                        <div class="mt-4 flex items-center justify-center space-x-3 text-base"
                                            id="client_name">
                                            <div class="font-semibold text-gray-900">Bee Bear</div>
                                        </div>
                                    </figcaption>
                                </div>
                            </div>
                            <label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl 
                                  font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                                  inset-y-0 left-0 my-auto">‹</label>
                            <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl 
                                  font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                                  inset-y-0 right-0 my-auto">›</label>

                            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true"
                                hidden="">
                            <div class="carousel-item absolute opacity-0 flex justify-center items-center"
                                style="height:5vh;">
                                <div
                                    class="block text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
                                    <blockquote
                                        class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9"
                                        id="review_words">
                                        <p>“Review TWO”</p>
                                    </blockquote>
                                    <figcaption class="mt-10" id="icon_and_name">

                                        <div class="mt-4 flex items-center justify-center space-x-3 text-base"
                                            id="client_name">
                                            <div class="font-semibold text-gray-900">Bee Bear 2</div>
                                        </div>
                                    </figcaption>
                                </div>
                            </div>
                            <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl 
                                    font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                                    inset-y-0 left-0 my-auto">‹</label>
                            <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl 
                                    font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                                    inset-y-0 right-0 my-auto">›</label>
                            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true"
                                hidden="">
                            <div class="carousel-item absolute opacity-0 flex justify-center items-center"
                                style="height:5vh;">
                                <div
                                    class="block text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
                                    <blockquote
                                        class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9"
                                        id="review_words">
                                        <p>“Rewiew THREE”</p>
                                    </blockquote>
                                    <figcaption class="mt-10" id="icon_and_name">
                                        <div class="mt-4 flex items-center justify-center space-x-3 text-base"
                                            id="client_name">
                                            <div class="font-semibold text-gray-900">Bee Bear 3</div>
                                        </div>
                                    </figcaption>
                                </div>
                            </div>
                            <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl 
                                    font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                                    inset-y-0 left-0 my-auto">‹</label>
                            <label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl 
                                    font-bold text-black hover:text-white rounded-full  leading-tight text-center z-5 
                                    inset-y-0 right-0 my-auto">›</label>

                            <ol class="carousel-indicators">
                                <li class="inline-block mr-3">
                                    <label for="carousel-1"
                                        class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-slate-700">•</label>
                                </li>
                                <li class="inline-block mr-3">
                                    <label for="carousel-2"
                                        class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-slate-700">•</label>
                                </li>
                                <li class="inline-block mr-3">
                                    <label for="carousel-3"
                                        class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-slate-700">•</label>
                                </li>
                            </ol>
                        </div>
                    </section>
                </div>
            </div>
            <div class="mt-8 form row-span-3 col-span-2">
                <form action="https://formbold.com/s/FORM_ID" method="POST">
                    <div class="mb-5">
                        <label for="name" class="mb-3 block text-base font-medium text-slate-800">
                            Full Name
                        </label>
                        <input type="text" name="name" id="name" placeholder="Full Name"
                            class="w-full md:w-96 rounded-md border border-stone-700 bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-zinc-700 focus:shadow-md" />
                    </div>
                    <div class="mb-5">
                        <label for="email" class="mb-3 block text-base font-medium text-slate-800">
                            Email Address
                        </label>
                        <input type="email" name="email" id="email" placeholder="example@email.com"
                            required
                            class="w-full md:w-96 rounded-md border border-stone-700 bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-zinc-700 focus:shadow-md" />
                    </div>
                    <div class="mb-5">
                        <label for="phone_number" class="mb-3 block text-base font-medium text-slate-800">
                            Phone Number
                        </label>
                        <input type="tel" name="phone_number" id="phone_number_input" placeholder="000-000-0000"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                            class="w-full md:w-96 rounded-md border border-stone-700 bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-zinc-700 focus:shadow-md" />
                    </div>
                    <div class="mb-5">
                        <label for="message" class="mb-3 block text-base font-medium text-slate-800">
                            Message
                        </label>
                        <textarea rows="10" name="message" id="message" placeholder="Type your message"
                            class="w-full md:w-96 resize-none rounded-md border border-stone-700 bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-zinc-700 focus:shadow-md"></textarea>
                    </div>
                    <div>
                        <button
                            class="hover:shadow-form rounded-md bg-gray-700 hover:bg py-3 px-8 text-base font-semibold text-white outline-none">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>

    const phoneNumberInput = document.getElementById("phone_number_input");

    phoneNumberInput.addEventListener("input", function () {
      const phoneNumber = phoneNumberInput.value.replace(/\D/g, "");
      if (phoneNumber.length === 0) {
        phoneNumberInput.value = "";
      } else if (phoneNumber.length <= 3) {
        phoneNumberInput.value = phoneNumber;
      } else if (phoneNumber.length <= 6) {
        phoneNumberInput.value = phoneNumber.slice(0, 3) + "-" + phoneNumber.slice(3);
      } else {
        phoneNumberInput.value = phoneNumber.slice(0, 3) + "-" + phoneNumber.slice(3, 6) + "-" + phoneNumber.slice(6, 10);
      }
    });

    phoneNumberInput.addEventListener("keydown", function (e) {
    const inputValue = phoneNumberInput.value;
    phoneNumberInput.value = inputValue.replace(/[^\d-]/g, "");
  });

  </script>
  
  
{% endblock %}