<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dining Gallery</title>
</head>

<body>
    <main>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4" id="buttonContainer">
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1617806118233-18e1de247200?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZGluaW5nJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="green and white dining room">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1617098709804-705581f844eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZGluaW5nJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="neutral colored dining room with colorful rug">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1616594266774-769089710d76?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGRpbmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="sage eating nook with mid century modern chairs">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1589719470769-08aa42145d03?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGRpbmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="boho dining room">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1632210826643-9ff7e84be2f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGRpbmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="wood paneling in dining room">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1583845112239-97ef1341b271?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fGRpbmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="rustic dining room">
                </div>

            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1585128903994-9788298932a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fGRpbmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="simple and clean dining room">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fGxpdmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="neutrals and green entertainment space">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1618219908412-a29a1bb7b86e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTJ8fGxpdmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="neutral sitting area">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1618219944342-824e40a13285?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njl8fGxpdmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="very green sitting area">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1603533880965-e1302f35290b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZW50ZXJ0YWlubWVudCUyMGNlbnRlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="gray entertainment center">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1599083549548-a307e72433ad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGVudGVydGFpbm1lbnQlMjBjZW50ZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="farmhouse living room">
                </div>
            </div>
            <a href="gallery" class="mt-4 px-4 py-2 bg-stone-500 text-white text-center rounded hover:bg-stone-600 transition duration-300 text-black">
                CLOSE
            </a>
        </div>
    </main>

</body>

</html>