{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container p-10 mx-auto flex flex-wrap">
        <!-- begin kitchens -->
        <div class="lg:w-1/3 md:w 1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded full" alt="image of service"
                    src="https://plus.unsplash.com/premium_photo-1664273237478-458d3d64423e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjF8fGtpdGNoZW4lMjBiYWNrc3BsYXNofGVufDB8fDB8fHww&auto=format&fit=crop&w=700&q=60">
                <h4 class="mb-2 text-lg font-semibold text-center">Kitchens</h4>
                <p class="text-base text-center">kitchen description and stuff</p>
                <button
                    class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300 open-gallery-button"
                    data-gallery="kitchens">More</button>
            </div>
        </div>
        <div id="galleryModal" class="modal fixed inset-0 z-50 flex items-center justify-center hidden">
            <div class="fixed inset-0 bg-black opacity-50"></div>
            <div
                class="modal-container bg-white w-11/12 md:max-w-4xl h-120 mx-auto rounded shadow-lg z-50 overflow-y-auto">
                <div class="modal-content p-4">
                    <h2 class="text-xl font-semibold mb-4">Kitchens</h2>
                </div>
            </div>
        </div>
        <!-- end kitchens -->
        <!-- begin bathrooms -->
        <div class="lg:w-1/3 md:w 1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded full" alt="image of service"
                    src="https://images.unsplash.com/photo-1571781418606-70265b9cce90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80">
                <h4 class="mb-2 text-lg font-semibold text-center">Bathrooms</h4>
                <p class="text-base text-center">fun facts about bathrooms</p>
                <button class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300"
                    id="bathrooms_button">More</button>
            </div>
        </div>
        <!-- end bathrooms -->
        <!-- begin exteriors -->
        <div class="lg:w-1/3 md:w 1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded full" alt="image of service"
                    src="https://images.unsplash.com/photo-1530982937671-bc00141b5d79?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1972&q=80">
                <h4 class="mb-2 text-lg font-semibold text-center">Exterior & Front Doors</h4>
                <p class="text-base text-center">front door stuff</p>
                <button class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300"
                    id="exterior_button">More</button>
            </div>
        </div>
        <!-- end exteriors -->
        <!-- begin dining -->
        <div class="lg:w-1/3 md:w 1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded full" alt="image of service"
                    src="https://images.unsplash.com/photo-1687949289431-7dbbef0f872f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGRpbmluZyUyMHJvb20lMjBkZWNvcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=700&q=60">
                <h4 class="mb-2 text-lg font-semibold text-center">Dining & Entertainment</h4>
                <p class="text-base text-center">where food is eaten</p>
                <button class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300"
                    id="dining_button">More</button>
            </div>
        </div>
        <!-- end dining -->
        <!-- begin bedrooms -->
        <div class="lg:w-1/3 md:w 1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded full" alt="image of service"
                    src="https://images.unsplash.com/photo-1615874959474-d609969a20ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80">
                <h4 class="mb-2 text-lg font-semibold text-center">Bedrooms</h4>
                <p class="text-base text-center" id="gallery_button">sleepy time peaceful time</p>
                <button class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300"
                    id="bedrooms_button">More</button>
            </div>
        </div>
        <!-- end bedrooms -->
        <!-- begin pantries -->
        <div class="lg:w-1/3 md:w 1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded full" alt="image of service"
                    src="https://images.unsplash.com/photo-1514237487632-b60bc844a47d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80">
                <h4 class="mb-2 text-lg font-semibold text-center">Pantries & Organization</h4>
                <p class="text-base text-center">organize all of your beans</p>
                <button class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300"
                    id="pantries_button">More</button>
            </div>
        </div>
        <!-- end pantries -->
    </div>

</main>


<script>
    // Get all buttons with the class open-gallery-button
    const galleryButtons = document.querySelectorAll('.open-gallery-button');
    const galleryModal = document.getElementById('galleryModal');
    const modalContent = galleryModal.querySelector('.modal-content');

    // Function to open the gallery modal
    function openGalleryModal(galleryName) {
        // Fetch the content for the specified gallery from the Flask route
        fetch(`${galleryName}`)
            .then(response => response.text())
            .then(html => {
                modalContent.innerHTML = html;
                galleryModal.classList.remove('hidden');
            });
    }

    // Add a click event listener to each gallery button
    galleryButtons.forEach(button => {
        button.addEventListener('click', () => {
            const galleryName = button.getAttribute('data-gallery');
            console.log(`Button clicked for ${galleryName}`);
            openGalleryModal(galleryName);
        });
    });

</script>

{% endblock %}

<!-- 
// const kitchensButton = document.getElementById('kitchen_button');
// const kitchensModal = document.getElementById('kitchenModal');
// const modalContent = kitchensModal.querySelector('.modal-content');
// const closeModalButton = document.getElementById('closeModal');

// // Function to open the modal
// function openKitchensModal() {
//     // Fetch the content from the Flask route
//     fetch('kitchens')
//         .then(response => response.text())
//         .then(html => {
//             modalContent.innerHTML = html;
//             kitchensModal.classList.remove('hidden');
//         });
// }

// // Event listener for opening modal
// kitchensButton.addEventListener('click', openKitchensModal); -->

