{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container border-double border-4 border-stone-700 p-10 mx-auto flex flex-wrap">
        <!-- begin kitchens -->
        <div class="lg:w-1/3 md:w 1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded full" alt="image of service"
                    src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/99003980_2933079403394102_7554575889996972032_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=7f8c78&_nc_ohc=rlnDzkUFbxIAX_KZZCJ&_nc_ht=scontent-lax3-1.xx&oh=00_AfCnm8eVIkcT8trl-ErewZ4Kw2OkLnTHYm8Ef8GANGmk6g&oe=658C520E">
                <h4 class="mb-2 text-lg font-semibold text-center">Kitchens</h4>
                <!-- <p class="text-base text-center">kitchen description and stuff</p> -->
                <button
                    class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300 open-gallery-button"
                    data-gallery="kitchens">More</button>
            </div>
        </div>
        <div id="galleryModal" class="modal fixed inset-0 z-50 flex items-center justify-center hidden">
            <div class="fixed inset-0 bg-black opacity-50"></div>
            <div
                class="modal-container bg-white w-11/12 md:max-w-4xl h-120 mx-auto rounded shadow-lg z-50 overflow-y-auto">
                <div class="modal-content p-4">
                    <h2 class="text-xl font-semibold mb-4">Kitchens</h2>
                </div>
            </div>
        </div>
        <!-- end kitchens -->
        <!-- begin bathrooms -->
        <div class="lg:w-1/3 md:w 1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded full" alt="image of service"
                    src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.6435-9/60496196_2154938177874899_3927199799178166272_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=7f8c78&_nc_ohc=EgI58yspXfoAX_mDXZw&_nc_ht=scontent-lax3-2.xx&oh=00_AfDm4T5uwM4MnL7gGv11TDEf0Mz0vcWw59vyEowqBgB-7A&oe=658C74E2">
                <h4 class="mb-2 text-lg font-semibold text-center">Bathrooms</h4>
                <!-- <p class="text-base text-center">fun facts about bathrooms</p> -->
                <button class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300 open-gallery-button"
                    data-gallery="bathrooms">More</button>
            </div>
        </div>
        <div id="galleryModal" class="modal fixed inset-0 z-50 flex items-center justify-center hidden">
            <div class="fixed inset-0 bg-black opacity-50"></div>
            <div
                class="modal-container bg-white w-11/12 md:max-w-4xl h-120 mx-auto rounded shadow-lg z-50 overflow-y-auto">
                <div class="modal-content p-4">
                    <h2 class="text-xl font-semibold mb-4">Bathrooms</h2>
                </div>
            </div>
        </div>
        <!-- end bathrooms -->
        <!-- begin exteriors -->
        <div class="lg:w-1/3 md:w 1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded full" alt="image of service"
                    src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.18169-9/13322091_1004765146225547_5221622992043600793_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=dd63ad&_nc_ohc=jl1gvqQHxekAX_SQAg9&_nc_oc=AQmSZQ-cfhQn9e2Fd3XEqJP0czLAnGpJh-gykRUIfJ3_F8qQYRiEgkIYe63hhwFVSh4i3pQikiJTWv93wlyzxcf8&_nc_ht=scontent-lax3-1.xx&oh=00_AfCiUniaRbxDaGUJmV7P_SS3Uok6-vtyVPvhi-dRN0gnGQ&oe=658C7811">
                <h4 class="mb-2 text-lg font-semibold text-center">Exterior & Front Doors</h4>
                <!-- <p class="text-base text-center">front door stuff</p> -->
                <button class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300 open-gallery-button"
                    data-gallery="exteriors">More</button>
            </div>
        </div>
        <div id="galleryModal" class="modal fixed inset-0 z-50 flex items-center justify-center hidden">
            <div class="fixed inset-0 bg-black opacity-50"></div>
            <div
                class="modal-container bg-white w-11/12 md:max-w-4xl h-120 mx-auto rounded shadow-lg z-50 overflow-y-auto">
                <div class="modal-content p-4">
                    <h2 class="text-xl font-semibold mb-4">Exteriors</h2>
                </div>
            </div>
        </div>
        <!-- end exteriors -->
        <!-- begin dining -->
        <div class="lg:w-1/3 md:w 1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded full" alt="image of service"
                    src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.6435-9/49344614_1954708757897843_973004353914798080_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=7f8c78&_nc_ohc=6gseiEKUKeAAX9vYBgL&_nc_ht=scontent-lax3-2.xx&oh=00_AfCSvPNeXNpwYo81ZaPBlKmh7uK503pCGi4lIO9VXKjbdw&oe=658C7C61">
                <h4 class="mb-2 text-lg font-semibold text-center">Dining & Entertainment</h4>
                <!-- <p class="text-base text-center">where food is eaten</p> -->
                <button class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300 open-gallery-button"
                    data-gallery="dining">More</button>
            </div>
        </div>
        <div id="galleryModal" class="modal fixed inset-0 z-50 flex items-center justify-center hidden">
            <div class="fixed inset-0 bg-black opacity-50"></div>
            <div
                class="modal-container bg-white w-11/12 md:max-w-4xl h-120 mx-auto rounded shadow-lg z-50 overflow-y-auto">
                <div class="modal-content p-4">
                    <h2 class="text-xl font-semibold mb-4">Dining and Living</h2>
                </div>
            </div>
        </div> 
        <!-- end dining -->
        <!-- begin bedrooms -->
        <div class="lg:w-1/3 md:w 1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded full" alt="image of service"
                    src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/40390842_1797626450272742_6675939921854726144_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=7f8c78&_nc_ohc=QsJGT1S0OV0AX_9nDSZ&_nc_ht=scontent-lax3-1.xx&oh=00_AfDIPxLHB2BBx0_aNq9jq-07V8IXCfPre3I3wAGEjWUj5Q&oe=658C57B1">
                <h4 class="mb-2 text-lg font-semibold text-center">Bedrooms</h4>
                <!-- <p class="text-base text-center" id="gallery_button">sleepy time peaceful time</p> -->
                <button class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300 open-gallery-button"
                    data-gallery="bedrooms">More</button>
            </div>
        </div>
        <div id="galleryModal" class="modal fixed inset-0 z-50 flex items-center justify-center hidden">
            <div class="fixed inset-0 bg-black opacity-50"></div>
            <div
                class="modal-container bg-white w-11/12 md:max-w-4xl h-120 mx-auto rounded shadow-lg z-50 overflow-y-auto">
                <div class="modal-content p-4">
                    <h2 class="text-xl font-semibold mb-4">Bedrooms</h2>
                </div>
            </div>
        </div>
        <!-- end bedrooms -->
        <!-- begin pantries -->
        <div class="lg:w-1/3 md:w-1/2 w-full p-2">
            <div class="p-8 rounded-xl border border-gray-300 hover:shadow-md bg-gray-100 flex flex-col items-center">
                <img class="mb-4 shadow-md mx-auto md:h-64 md:w-64 h-40 w-40 rounded object-cover" alt="image of service"
                    src="https://scontent-lax3-1.xx.fbcdn.net/v/t39.30808-6/357434556_6373557489346259_7449906317767205_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=mq0B802F4O8AX89vNx_&_nc_ht=scontent-lax3-1.xx&oh=00_AfC4Mt0vJlvjb7CgyXzJ_NiA1XAclmE4pHZu55XSChiDJQ&oe=656931B3">
                <h4 class="mb-2 text-lg font-semibold text-center">Pantries & Organization</h4>
                <!-- <p class="text-base text-center">organize all of your beans</p> -->
                <button class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 transition duration-300 open-gallery-button"
                    data-gallery="pantries">More</button>
            </div>
        </div>
        <div id="galleryModal" class="modal fixed inset-0 z-50 flex items-center justify-center hidden">
            <div class="fixed inset-0 bg-black opacity-50"></div>
            <div
                class="modal-container bg-white w-11/12 md:max-w-4xl h-120 mx-auto rounded shadow-lg z-50 overflow-y-auto">
                <div class="modal-content p-4">
                    <h2 class="text-xl font-semibold mb-4">Pantries and Organization</h2>
                </div>
            </div>
        </div>
        <!-- end pantries -->
    </div>

</main>


<script>
    // Get all buttons with the class open-gallery-button
    const galleryButtons = document.querySelectorAll('.open-gallery-button');
    const galleryModal = document.getElementById('galleryModal');
    const modalContent = galleryModal.querySelector('.modal-content');

    // Function to open the gallery modal
    function openGalleryModal(galleryName) {
        // Fetch the content for the specified gallery from the Flask route
        fetch(`${galleryName}`)
            .then(response => response.text())
            .then(html => {
                modalContent.innerHTML = html;
                galleryModal.classList.remove('hidden');
            });
    }

    // Add a click event listener to each gallery button
    galleryButtons.forEach(button => {
        button.addEventListener('click', () => {
            const galleryName = button.getAttribute('data-gallery');
            console.log(`Button clicked for ${galleryName}`);
            openGalleryModal(galleryName);
        });
    });

</script>

{% endblock %}

<!-- 
// const kitchensButton = document.getElementById('kitchen_button');
// const kitchensModal = document.getElementById('kitchenModal');
// const modalContent = kitchensModal.querySelector('.modal-content');
// const closeModalButton = document.getElementById('closeModal');

// // Function to open the modal
// function openKitchensModal() {
//     // Fetch the content from the Flask route
//     fetch('kitchens')
//         .then(response => response.text())
//         .then(html => {
//             modalContent.innerHTML = html;
//             kitchensModal.classList.remove('hidden');
//         });
// }

// // Event listener for opening modal
// kitchensButton.addEventListener('click', openKitchensModal); -->

