{% extends 'base.html' %}
{% block content %}
<div class="mx-2 p-2 border-double border-4 border-stone-700" id="border">
  <div class="relative grid grid-cols-2 gap-0 transition-opacity ease-in duration-1000 opacity-0">
    <div class="bg-opacity-50 bg-gray-900 py-80 sm:py-96">
      <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/132867176_3539204939448209_5494874622935254550_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7f8c78&_nc_ohc=9mtEeDAJZOEAX9QZkCM&_nc_ht=scontent-lax3-1.xx&oh=00_AfD3wXysQP-aqSgr_KIJTGfVGV5tuuc6CH6q8IzxXv1-8g&oe=658C568C"
       alt="image of a couch in living room" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center" id="homepage_image">
      <div class="mx-auto max-w-7xl px-6 lg:px-8" id="welcome_tag">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2 class="text-4xl font-cursive tracking-tight text-white sm:text-6xl">Welcome Home</h2>
          <p class="mt-6 text-lg leading-8 text-gray-300">- where comfort meets creativity, and houses become the cherished havens they were always meant to be. 🏡💖</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.addEventListener('load', function () {
    const element = document.querySelector('.opacity-0');
    element.classList.add('opacity-100');
  });
</script>

{% endblock %}


<!-- 
TO DO:
- email access key
- service SVGs
- expand border on each page
- change photos to actual WH photos
- edit descriptions
- heading to About page & each section
- fade in for all pages
-->