{% extends 'base.html' %}
{% block content %}
<div class="mx-2 p-2 border-double border-4 border-stone-700" id="border">
  <div class="relative grid grid-cols-2 gap-0  transition-opacity ease-in duration-1000 opacity-0">
    <div class="bg-opacity-50 bg-gray-900 py-80 sm:py-96">
      <img src="https://images.unsplash.com/photo-1616046229478-9901c5536a45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80"
       alt="image of a couch in living room" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center" id="homepage_image">
      <div class="mx-auto max-w-7xl px-6 lg:px-8" id="welcome_tag">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2 class="text-4xl font-cursive tracking-tight text-white sm:text-6xl">Welcome Home</h2>
          <p class="mt-6 text-lg leading-8 text-gray-300">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui
            lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.addEventListener('load', function () {
    const element = document.querySelector('.opacity-0');
    element.classList.add('opacity-100');
  });
</script>

{% endblock %}


<!-- 
TO DO:
- find service template with prices and consultation option button
- find contact page template
- make review box smaller
- find about me page template 
-->