{% extends 'base.html' %}
{% block content %}
<div class="mx-2 p-2 border-double border-4 border-stone-700" id="border">
  <div class="relative grid grid-cols-2 gap-0">
    <div class="bg-opacity-30 bg-gray-900 py-80 sm:py-96 transition-opacity ease-in duration-1000 opacity-0">
      <img src="https://images.unsplash.com/photo-1616046229478-9901c5536a45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80"
       alt="image of a couch in living room" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center" id="homepage_image">
      <div class="mx-auto max-w-7xl px-6 lg:px-8" id="welcome_tag">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2 class="text-4xl font-cursive tracking-tight text-white sm:text-6xl">Welcome Home</h2>
          <p class="mt-6 text-lg leading-8 text-gray-300">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui
            lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.addEventListener('load', function () {
    const element = document.querySelector('.opacity-0');
    element.classList.add('opacity-100');
  });
</script>

{% endblock %}


<!-- 

    <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-2xl"
        aria-hidden="true" id="first_blur">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#7b817f] to-[#afc5be] opacity-20"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
      </div>
    </div>
    <div class="absolute -top-52 left-1/2 -z-20 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
      aria-hidden="true" id="second_blur">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
      </div>
    </div>

 -->