<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>kitchen gallery</title>
</head>

<body>
    <main>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4" id="buttonContainer">
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1611776575292-bec10cc1a906?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8c2lua3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1599615381612-7bcc78cfd851?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHNpbmt8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://plus.unsplash.com/premium_photo-1676974196935-e7a5bbf5be5c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8a2l0Y2hlbiUyMHdpbmRvd3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1600717707657-53775bc58050?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8a2l0Y2hlbiUyMHdpbmRvd3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://plus.unsplash.com/premium_photo-1661878780401-293ca2f7e0e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGtpdGNoZW4lMjB3aW5kb3d8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1502005097973-6a7082348e28?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGtpdGNoZW4lMjB3aW5kb3d8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>

            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1586208958839-06c17cacdf08?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8a2l0Y2hlbiUyMGNhYmluZXRzfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1535230387253-9cd5be991a86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzh8fGtpdGNoZW4lMjBjb3VudGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1541123437800-1bb1317badc2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGtpdGNoZW4lMjBjb3VudGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://plus.unsplash.com/premium_photo-1680181507187-8048e3d200ce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fGtpdGNoZW4lMjBjb3VudGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1565538810643-b5bdb714032a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fGtpdGNoZW4lMjBjb3VudGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1556910101-a533e487de15?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjJ8fGtpdGNoZW4lMjBjb3VudGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
            </div>
            <a href="gallery" class="mt-4 px-4 py-2 bg-stone-500 text-white rounded hover:bg-stone-600 transition duration-300 text-black">
                Close Gallery
            </a>
        </div>
    </main>
    <!-- <script>
        const closeGalleryModalButton = document.getElementById('closeGalleryModal');
        const kitchenModal = document.getElementById('kitchenModal'); // Removed 'parent.document' here
    
        // Function to close the modal
        function closeGalleryModal() {
            kitchenModal.classList.add('hidden');
        }
    
        // Event listener to close the modal
        closeGalleryModalButton.addEventListener('click', closeGalleryModal);
    </script> -->
    
    

</body>

</html>