<nav class="navbar">
    <ul class="nav-list">
        <li><a href="{{ url_for('homepage') }}">Home</a></li>
        <li><a href="{{ url_for('about_page') }}">About</a></li>
        <li><a href="{{ url_for('consultation_page') }}">Consultations</a></li>
        <li><a href="{{ url_for('services_page') }}">Services</a></li>
        <li><a href="{{ url_for('reviews_page') }}">Reviews</a></li>
        <li><a href="{{ url_for('gallery_page') }}">Gallery</a></li>
        <li><a href="{{ url_for('contact_page') }}">Contact</a></li>
    </ul>
</nav>
