<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pantry Gallery</title>
</head>

<body>
    <main>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4" id="buttonContainer">
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1580116270858-8a0d62b15426?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8a2l0Y2hlbiUyMHBhbnRyeXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1590311825124-73ec5233cb0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8a2l0Y2hlbiUyMHBhbnRyeXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1504977402025-84285fea814b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGtpdGNoZW4lMjBwYW50cnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://plus.unsplash.com/premium_photo-1676823570438-5b717d034e97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGtpdGNoZW4lMjBwYW50cnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1560184387-2404714bc570?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzV8fGtpdGNoZW4lMjBwYW50cnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1662986788594-01dcf0af44bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNsb3NldCUyMHN0b3JhZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>

            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1687953413905-731f620177ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGNsb3NldCUyMHN0b3JhZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1595515106864-077d30192c56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGNsb3NldCUyMHN0b3JhZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1528027656671-6d156f4f1f48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODN8fGNsb3NldCUyMHN0b3JhZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1631048499455-4f9e26f23b9f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA4fHxjbG9zZXQlMjBzdG9yYWdlfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1514894780887-121968d00567?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTh8fGJ1aWx0JTIwaW4lMjBib29rc2hlbGZ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://images.unsplash.com/photo-1426927308491-6380b6a9936f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fG9yZ2FuaXphdGlvbnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="">
                </div>
            </div>
            <a href="gallery" class="mt-4 px-4 py-2 bg-stone-500 text-white text-center rounded hover:bg-stone-600 transition duration-300 text-black">
                CLOSE
            </a>
        </div>
    </main>

</body>

</html>